:root {
  --secondary: #d8d8d8;
  --design-button-text: #262626;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: Inter, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 834px;
  margin-inline: auto;
  padding: 32px;
}

@media screen and (max-width: 430px) {
  body {
    padding: 24px;
  }
}

/* Header */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1px;
}

#header h1 {
  font-size: 16px;
  font-weight: 400;
  margin-left: -2px;
  font-style: normal;
}

#header h2 {
  font-size: 16px;
  font-weight: 400;
  margin-right: -2px;
  font-style: normal;
}

/* Header */

#landing-hero {
  display: flex;
  justify-content: space-between;
  margin-top: 67px;
}

#landing-hero img {
  width: 146.734px;
  height: 200px;
  margin-left: 16px;
}

@media screen and (max-width: 616px) {
  #landing-hero img {
    display: none;
  }
}

/* Details Text */

.details__sub {
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 17px;
  margin-left: -1px;
  font-style: normal;
}

.details__header {
  color: #000;
  font-size: 48px;
  font-weight: 400;
  margin-left: -2px;
  margin-bottom: 28px;
  font-style: normal;
}

.details__text {
  color: #1f1f1f;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  margin-left: -1px;
}

@media screen and (max-width: 424px) {
  .details__sub {
    margin-bottom: 14px;
  }
  .details__header {
    color: #000;
    font-size: 32px;
    margin-left: -2px;
    margin-bottom: 17px;
  }
  .details__text {
    max-width: 100%;
    font-size: 16px;
  }
}

/* Section Title */

.section-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  margin-left: -4px;
}

/* Project */

.project__img {
  width: 100%;
  height: auto;
  margin-bottom: 29px;
}

.project__buttons {
  margin-top: 56px;
}

/* Buttons */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.primary {
  cursor: pointer;
  background: #000;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  margin-bottom: 16px;
}

.secondary {
  cursor: pointer;
  background: #d8d8d8;
  border: 1px solid black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  margin-bottom: 16px;
  color: #000;
}

.design {
  cursor: pointer;
  background: transparent;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  margin-bottom: 16px;
  color: #000;
}
