:root {
  --para: #cccccc;
  --gradient: linear-gradient(135deg, #212121 0%, rgba(21, 21, 21, 0.38) 100%);
  --border: 1px solid #262626;
  --rounded: 16px;
  --line: 150%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #0f0f0f;
  font-family: Inter, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  margin-inline: auto;
  padding: 32px;
  color: white;
}

@media screen and (max-width: 460px) {
  body {
    padding: 32px 16px;
  }
}

/*  Nav Bar */

nav {
  display: flex;
  justify-content: space-between;
  line-height: var(--line);
}

nav h1 {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

nav div {
  width: 276px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 140px;
}

nav div ul a {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: all 500ms;
  color: var(--para);
}

nav div ul a:hover {
  color: white;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 102px;
}

.social-icons__link {
  display: flex;
  padding-top: 1px;
  align-items: center;
}

.social-icons__link img {
  height: 16px;
  width: auto;
}

.social-icons__link img:hover {
  fill: white;
}

@media screen and (max-width: 460px) {
  .social-icons {
    width: 80px;
  }
  nav div ul {
    width: 128px;
  }
  nav div {
    width: 232px;
  }
}

/* Buttons */

.contact-me {
  display: inline-block;
  font-weight: bold;
  padding: 12px 40px;
  background-color: white;
  border-radius: 100px;
  color: black;
  cursor: pointer;
  transition: all 500ms;
}

.contact-me:hover {
  background-color: rgb(196, 196, 196);
}

/* Cards*/

.card {
  min-width: 328px;
  height: fit-content;
  padding: 44px;
  background-image: var(--gradient);
  border: var(--border);
  border-radius: var(--rounded);
}

.card__subheader {
  color: var(--para);
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 28px;
  line-height: var(--line);
}

.card__header {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: var(--line);
}

.card__para {
  color: var(--para);
  font-size: 16px;
  line-height: 150%;
  margin-top: 36px;
  max-width: 556px;
}
@media screen and (max-width: 548px) {
  .card__header {
    font-size: 32px;
  }

  .card {
    padding: 44px 24px;
  }
}

/* Landing Hero */

main {
  margin-top: 60px;
}

.main-btn {
  margin-top: 92px;
}

#select-separator {
  margin-top: 156px;
  margin-bottom: 80px;
  color: #fff;
  font-size: 128px;
  font-weight: 700;
  line-height: 150%;
}

.fade {
  animation: fade 1s 0s 1 ease-in alternate;
}

html {
  scroll-behavior: smooth;
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 1s 0s 1 ease-in alternate;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* Project Grid */

#projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.skills-used {
  margin-top: 48px;
}

.project__buttons {
  display: grid;
  grid-row: 1fr 1fr;
  row-gap: 24px;
  margin-top: 76px;
}

.project__demo-btn {
  padding: 12px 24px;
  background-color: white;
  border-radius: 100px;
  color: black;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.project__demo-btn:hover {
  background-color: rgb(196, 196, 196);
}

.project__buttons-sub {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
}

.project__code-btn {
  padding: 12px 24px;
  background-color: #585555;
  border-radius: 100px;
  color: white;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.project__code-btn:hover {
  background-color: #3d3b3b;
}

.project__design-btn {
  padding: 12px 24px;
  background-color: transparent;
  border-radius: 100px;
  color: white;
  text-align: center;
  font-weight: bold;
  border: 1px solid #5e5a5a;
  cursor: pointer;
}

.project__design-btn:hover {
  border: 1px solid white;
}

.video-container {
  max-height: 100%;
  max-width: 100%;
  border-radius: var(--rounded);
  position: relative;
}

.project__video {
  height: 100%;
  width: 100%;
  object-fit: fill;

  border-radius: var(--rounded);
}

.video__placeholder {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: var(--rounded);
  align-items: center;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: all 1s;
  background-color: rgb(17, 17, 17);
}

.video__placeholder:hover {
  opacity: 0;
}

@media screen and (max-width: 880px) {
  .video-container {
    display: none;
  }
  #projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
