@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 48px 32px;
  font-family: inter, Georgia, Times, "Times New Roman", serif;
  line-height: 1.5;
  background-color: #000000;
  max-width: 1280px;
  margin-inline: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 600px) {
  body {
    padding: 20px;
  }
}

@media screen and (max-width: 460px) {
  body {
    padding: 16px;
  }
}

a {
  text-decoration: none;
  text-align: center;
}

/* Hero Section */

#hero {
  width: 100%;
  height: 640px;
  background-color: #c72600;
  border-radius: 16px;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  padding: 72px;
}

#hero__details {
  z-index: 10;
}

#details__title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 28px;
}

#details__par {
  max-width: 532px;
  color: #e6e6e6;
  margin-bottom: 80px;
}

#here__button {
  padding: 16px 48px;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  font-weight: bold;
}

#hero__decoration {
  position: absolute;
  right: -2%;
  top: -2%;
  width: 410px;
  height: 657px;
  font-size: 210px;
  line-height: 80%;
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 800px) {
  #hero__decoration {
    display: none;
  }
  #hero {
    padding: 48px;
  }
}

@media screen and (max-width: 580px) {
  #hero {
    padding: 24px;
  }
  #details__title {
    font-size: 40px;
  }
}

/* Sub Hero Section */

#sub-hero {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 32px;
}

#skills {
  width: 100%;
  color: white;
  background-color: #002890;
  border-radius: 16px;
  padding: 72px 48px;
}

#skills__title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 56px;
}

#skills__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36px, 1fr));
  gap: 40px;
}

#sub-hero__hi {
  width: 481px;
  height: 440px;
  background-color: #b1ff0d;
  border-radius: 16px;
  position: relative;
}

#hi__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1279px) {
  #sub-hero__hi {
    display: none;
  }
  #sub-hero {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}

@media screen and (max-width: 700px) {
  #skills__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  #skills {
    padding: 32px 24px;
  }
  #skills__title {
    font-size: 20px;
  }
}
