* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 48px 32px;
  font-family: inter, Georgia, Times, "Times New Roman", serif;
  line-height: 1.5;
  background-color: #000000;
  max-width: 1280px;
  margin-inline: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --bg: linear-gradient(
    to right bottom,
    #000000,
    #180509,
    #250a0d,
    #310c0d,
    #3e0c0a,
    #3e0c0a,
    #3e0c0a,
    #3e0c0a,
    #310c0d,
    #250a0d,
    #180509,
    #000000
  );
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 600px) {
  body {
    padding: 20px;
  }
}

@media screen and (max-width: 460px) {
  body {
    padding: 16px;
  }
}

a {
  text-decoration: none;
  text-align: center;
}

/* Hero Section */

#hero {
  width: 100%;
  height: 640px;
  background-color: #c72600;
  border-radius: 16px;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  padding: 72px;
}

#hero__details {
  z-index: 10;
}

#details__title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 28px;
}

#details__par {
  max-width: 532px;
  color: #f2f2f2;
  margin-bottom: 80px;
}

#here__button {
  padding: 16px 48px;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  font-weight: bold;
}

#hero__decoration {
  position: absolute;
  right: -2%;
  top: -2%;
  width: 410px;
  height: 657px;
  font-size: 210px;
  line-height: 80%;
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 800px) {
  #hero__decoration {
    display: none;
  }
  #hero {
    padding: 48px;
  }
}

@media screen and (max-width: 580px) {
  #hero {
    padding: 24px;
  }
  #details__title {
    font-size: 40px;
  }
}

/* Sub Hero Section */

#sub-hero {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 32px;
}

#skills {
  width: 100%;
  color: white;
  background-color: #002890;
  border-radius: 16px;
  padding: 72px 48px;
}

#skills__title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 56px;
}

#skills__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36px, 1fr));
  gap: 40px;
}

#sub-hero__hi {
  width: 481px;
  height: 440px;
  background-color: #b1ff0d;
  border-radius: 16px;
  position: relative;
}

#hi__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1279px) {
  #sub-hero__hi {
    display: none;
  }
  #sub-hero {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}

@media screen and (max-width: 700px) {
  #skills__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  #skills {
    padding: 32px 24px;
  }
  #skills__title {
    font-size: 20px;
  }
}

/* Projects */

.project-grid {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
}

#project {
  height: fit-content;
  border-radius: 16px;
  background-color: #c72600;
  padding: 48px 36px;
}

.project__container {
  height: 100%;
}

.project__upper-title {
  color: #f2f2f2;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 32px;
}

.project__title {
  color: white;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 48px;
}

.project__details {
  max-width: 500px;
  color: #f2f2f2;
  margin-bottom: 56px;
}

.project__tech {
  margin-bottom: 156px;
}

.tech-img {
  margin-right: 32px;
}

.tech-img:last-child {
  margin-right: 0px;
}

.project__buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.buttons__primary {
  width: 100%;
  padding: 12px 0px;
  color: black;
  font-size: 16px;
  background-color: white;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 3;
}

.buttons__secondary {
  width: 100%;
  padding: 12px 0px;
  color: white;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 380px) {
  #project {
    padding: 32px 20px;
  }
}

.project__metrics {
  margin-top: 16px;
}

.metrics__title {
  color: #f2f2f2;
  font-size: 16px;
  margin-bottom: 48px;
}

.circle-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.circle-container {
  width: fit-content;
  margin: 0 12px;
}

.circle {
  width: 140px;
  height: 140px;
  background-color: transparent;
  color: white;
  border: 14px solid #ff471c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  font-weight: bold;
}

.sub-circle {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 32px;
}

.metrics-numbers {
  margin-top: 96px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 96px;
  column-gap: 12px;
}

.number {
  display: flex;
  margin-left: 12px;
}

.number__circle {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #bfbfbf;
}

.number__section {
  margin-left: 20px;
  color: white;
}

.number__title {
  color: #bfbfbf;
  margin-top: -3px;
  margin-bottom: 10px;
}

.number__value {
  font-size: 40px;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .project__metrics {
    display: none;
  }
  .project-grid {
    grid-template-columns: 100% 1fr;
  }
}

/* UX UI WORK */

#ux-section-line {
  background-color: #002890;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 32px 0px;
  border-radius: 16px;
  text-align: center;
  padding: 20px 0px;
}

#ux-grid {
  margin: 32px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  column-gap: 32px;
  row-gap: 32px;
}

.ux-project {
  color: white;
  background-color: #c72600;
  padding: 28px;
  border-radius: 16px;
  height: 540px;
}

.ux__project-title {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-bottom: 48px;
}

.ux__project-para {
  color: #f2f2f2;
  font-size: 16px;
  height: 52%;
}
