:root {
  --secondary: #d8d8d8;
  --design-button-text: #262626;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: Inter, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 834px;
  margin-inline: auto;
  padding: 32px;
}

@media screen and (max-width: 430px) {
  body {
    padding: 24px;
  }
}

/* Header */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1px;
}

#header h1 {
  font-size: 16px;
  font-weight: 400;
  margin-left: -2px;
}

#header h2 {
  font-size: 16px;
  font-weight: 400;
  margin-right: -2px;
}
