@tailwind base;
@tailwind components;
@tailwind utilities;

.fade {
  animation: fade 1s 0s 1 ease-in alternate;
}

html {
  scroll-behavior: smooth;
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 1s 0s 1 ease-in alternate;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.progress-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(closest-side, #0f0f0f 79%, transparent 80% 100%),
    conic-gradient(white var(--incrementer), #363636 0);
}
