@tailwind base;
@tailwind components;
@tailwind utilities;

.Fade {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.TextAnimation {
  animation: text 3s var(--delay) infinite alternate;
}

@keyframes text {
  0% {
    color: #ee9b00;
  }
  50% {
    color: #f07167;
  }
  100% {
    color: #94d2bd;
  }
}
